
@{
    ViewData["Title"] = "Add";
}


<FORM Action="MyResponse.asp">
    <b>Имя:</b>
    <br />
    <input type="text" size="40">
    <br />
    <b>Фамилия:</b>
    <br />
    <input type="text" size="40">
    <br />
    <b>Отчество:</b>
    <br />
    <input type="text" size="40">
    <p><Input type="submit"></p>
</FORM>

@Html.ActionLink("Назад", "Index")



